.projectContainer {
  padding: 20px;
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  width: 50%;
}

@media screen and (max-width: 800px) {
  .projectContainer {
    flex-direction: column;
    width: 100%;
  }
}
