.introduction {
  position: relative;
  height: 100vh;
  color: #fff;
  font-size: 100px;
  line-height: 110px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "outfit-900";
  cursor: default;
  user-select: none;
}
.introduction .myName {
  color: var(--name-color);
}

@media screen and (max-width: 1600px) {
  .introduction {
    font-size: 80px;
    line-height: 90px;
  }
}

@media screen and (max-width: 800px) {
  .introduction {
    font-size: 40px;
    line-height: 50px;
    text-align: center;
  }
}
