.contactItem {
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 12px 0;
  border-bottom: 1px solid #fff;
  font-size: 16px;
  font-family: "outfit-400";
}
.contactItem > img {
  width: 24px;
  margin-right: 10px;
}
