.techStack {
  padding: 20px 0;
  margin-bottom: 20px;
}
.stackTitle {
  font-size: 24px;
  font-family: "outfit-700";
  color: var(--main-black);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 40px;
  animation: pulse 4s linear infinite;
}
.stackTitle:hover {
  cursor: pointer;
  color: var(--main-gray);
  animation-play-state: paused;
}
.caruselContainer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  position: relative;
}
.seeAsListSpan {
  margin-left: 5px;
  display: flex;
  align-items: center;
  font-size: 16px;
  margin-top: auto;
  line-height: 26px;
}
.seeAsListSpan > img {
  margin-left: 5px;
}

@keyframes pulse {
  0% {
    transform: scale(0.9, 0.9);
  }
  50% {
    transform: scale(1.2, 1.2);
  }
  100% {
    transform: scale(0.9, 0.9);
  }
}
