.listItem {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 60px;
  padding: 0 10px;
  font-size: 16px;
}
.itemName {
  font-family: "outfit-400";
  color: var(--main-black);
  width: 200px;
}
.itemIcon {
  width: 20px;
  margin-right: 10px;
}
.skillRate {
  width: 300px;
  margin-left: auto;
}
.spaceBreak {
  margin-bottom: -10px;
  height: 1px;
  line-height: 24px;
  width: 100%;
  overflow-x: hidden;
  margin-right: 15px;
  border-bottom: 1px dotted var(--main-black);
}
