:root {
	--section-header-height: 80px;
	--section-header-smaller-height: 60px;
}

.sectionHeader {
	height: var(--section-header-height);
	display: flex;
	align-items: center;
	justify-content: center;
	text-transform: uppercase;
	color: #fff;
	text-shadow: 1px 0px 2px rgba(0, 0, 0, 0.6);
	font-family: 'outfit-600';
	font-size: 40px;
	background-color: rgba(0, 0, 0, 0.6);
	cursor: default;
}

@media screen and (max-width: 1600px) {
	.sectionHeader {
		height: var(--section-header-smaller-height);
		font-size: 24px;
	}
}
