.contact {
  min-height: 100vh;
}
.contactWrapper {
  height: calc(100vh - var(--section-header-height));
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 40px 20px;
}
.contactFooter {
  color: #fff;
  font-size: 48px;
  font-family: "outfit-900";
  margin-top: auto;
}
.contactItem {
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 12px 0;
  font-size: 16px;
  font-family: "outfit-400";
}
.contactItem > img {
  width: 24px;
  margin-right: 10px;
}

@media screen and (max-width: 1600px) {
  .contactWrapper {
    height: calc(100vh - var(--section-header-smaller-height));
  }
}

@media screen and (max-width: 800px) {
  .contactFooter {
    font-size: 24px;
    text-align: center;
  }
  .contactItem {
    font-size: 14px;
  }
}
