.experienceItem {
  position: relative;
  z-index: 2;
  background-color: var(--main-black);
  padding: 15px;
  border-radius: 4px;
  color: #fff;
  border: 1px solid #fff;
}
.durationAtCompany {
  font-family: "outfit-500";
  font-size: 20px;
  margin-bottom: 10px;
  width: 100%;
  text-align: center;
}
.experienceContent {
  display: flex;
  padding-bottom: 10px;
}

@media screen and (max-width: 800px) {
  .experienceContent {
    flex-direction: column;
  }
  .experienceItem:hover {
    transform: scale(1.05, 1.05);
    background-color: #000;
  }
}
