.tech {
	position: relative;
	overflow-x: hidden;
	display: flex;
	flex-direction: column;
	height: 100vh;
	overflow: hidden;
}
.techGround {
	position: absolute;
	top: var(--section-header-height);
	bottom: 0;
	left: 0;
	right: 0;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	flex-wrap: wrap;
	gap: 20px;
	padding: 20px 60px;
}

@media screen and (max-width: 800px) {
	.techGround {
		justify-content: center;
	}
}

@media screen and (max-width: 1600px) {
	.techGround {
		top: var(--section-header-smaller-height);
	}
}
