.tech {
  position: relative;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.projAndTechItem {
  width: 100%;
}
.techSummary {
  margin-top: 20px;
  margin-bottom: 50px;
}
.techSummary > div {
  background-color: var(--main-black);
  padding: 12px 6px;
  text-align: center;
  margin-bottom: 1px;
  font-family: "outfit-600";
  color: #fff;
}
.techSummary > div:hover {
  cursor: default;
  background-color: transparent;
  text-shadow: 0px 0px 2px #000;
}
