.timeLineDot {
  position: relative;
  height: 100px;
  width: 50px;
}
.dot {
  z-index: 1;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  left: 0;
  top: calc(60% - 25px);
  width: 100%;
  aspect-ratio: 1/1;
  border-radius: 50%;
  background-color: transparent;
}
.innerDot {
  width: 50%;
  aspect-ratio: 1/1;
  background-color: var(--bg-4);
  border-radius: 50%;
}
.pipe {
  position: absolute;
  left: calc(50% - 20px);
  width: 40px;
  height: 100px;
  background-color: rgba(0, 0, 0, 0.6);
}
.checkpointColor {
  background-color: var(--bg-3);
}
.leftHookRope {
  position: absolute;
  bottom: -4px;
  left: 3px;
  transform: rotate(32deg);
  width: 1px;
  height: 45px;
  background-color: #fff;
}
.rightHookRope {
  position: absolute;
  bottom: -4px;
  right: 3px;
  transform: rotate(-32deg);
  width: 1px;
  height: 45px;
  background-color: #fff;
}
