.timeLineDot {
  position: relative;
  height: 60px;
  width: 50px;
}
.dot {
  z-index: 1;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  left: 0;
  top: 0;
  width: 100%;
  aspect-ratio: 1/1;
  border-radius: 50%;
  background-color: transparent;
}
.innerDot {
  width: 50%;
  aspect-ratio: 1/1;
  background-color: #fa8605;
  border-radius: 50%;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.6);
}
.checkpointColor {
  background-color: #05e939;
}
.leftHookRope {
  position: absolute;
  z-index: 0;
  bottom: -4px;
  left: 3px;
  transform: rotate(32deg);
  width: 1px;
  height: 45px;
  background-color: #fff;
}
.rightHookRope {
  position: absolute;
  z-index: 0;
  bottom: -4px;
  right: 3px;
  transform: rotate(-32deg);
  width: 1px;
  height: 45px;
  background-color: #fff;
}

@media screen and (max-width: 800px) {
  .dot,
  .leftHookRope,
  .rightHookRope {
    display: none;
  }
}
